/python/env/
/python/mitdb/
/python/c_lib/build/
/python/c_lib/c_src/old/
*.pyc
*.log
/python/data/*.dat
/python/doc/*.aux
/python/doc/*.log
/python/doc/*.gz
/python/doc/*.out
/python/plots/*.png
/python/output/*.dat
/python/*.sav
